.filme-info {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin-top: 3rem;
}

.content-info {
    margin: 0 6rem;
}

.filme-info img {
    border-radius: 20px;
    width: 700px;
}

.filme-info h3 {
    font-weight: bold;
    font-size: 23px;
    text-align: center;
}

.filme-info button {
    background-color: #fff;
    margin: 15px 5px 0 0;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(249, 78, 75, 0.411);
    font-size: 20px;
    outline: none;
    padding: 12px;
    transition: all 0.5s;
    color: #f94d4b;
}

.filme-info button:hover {
    background-color: #f94d4b;
    color: #fff;
}

.filme-info button a {
    text-decoration: none;
    color: #f94d4b;
}

.filme-info button a:hover {
    color: #fff; 
}


@media screen and (max-width: 800px) {
    .content-info {
        margin: 0 6rem;
    }
    .filme-info img {
        width: 600px;
        max-height: 250px;
    }
}


@media screen and (max-width: 650px) {
    .content-info h1 {
        font-size: 30px;
        margin-top: 2rem;   
    }

    .filme-info h3 {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        margin-bottom: 0.4em;
    }

    .content-info {
        margin: 0 10rem;
    }
    .filme-info img {
        width: 300px;
        max-height: 250px;
    }
}