header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background-color: #f94d4b;
    position: fixed;
    top: 0;
}

.logo {
    text-decoration: none;
    font-size: 1.5rem;
    color: #FFF;
    cursor: pointer;
}

.icon-wrapper {
    width: 50px;
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.info {
    width: 20px;
    height: 20px;
    background-color: #fa2320;
    color: #fff;
    display: grid;
    font-size: 1em;
    place-content: center;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    right: 1px;
    /* opacity: 0; */
    transform: translateY(3px);
}

.bell-icon {
    max-width: 50%;
}

.icon-wrapper:hover .bell-icon {
    animation: shake 1s forwards;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-15deg);
    }
    30% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(0deg);
    }
}